/*## Colors

### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)
- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

### Notes

Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

## Typography

### Body Copy

- Font size (paragraphs): 18px

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800


background-image:linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%)); gradiente da parte do resultado e do botão "continue"
background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)); gradiente do círculo
box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.199); do main
*/



@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
}

.result {
    background-image:linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 1.4rem;
    padding-bottom: 1.8rem;
}

.result > h1 {
    font-size: 18px;
    color: hsl(241, 100%, 89%);
    font-weight: 500;
    margin-bottom: 1.4rem;
}

.result-circle {
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100px;
    width: 125px;
    padding: 24px;
    text-align: center;
}

#result-circle-76 {
    font-size: 2.9rem;
    color: white;
    font-weight: 900;
}

#result-circle-100 {
    color: hsla(241, 100%, 89%, 0.473);
    font-size: 0.8rem;
}

.result-words {
    margin-top: 1rem;
    width: 54%;
    text-align: center;
}

.result-words > h2 {
    color: hsl(221, 100%, 96%);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.result-words > p {
    color: hsl(241, 100%, 89%);
    font-size: .8rem;
    font-weight: 500;
}

.summary {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summary > h1 {
    font-size: 1.2rem;
    color: hsl(224, 30%, 27%);
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    border-radius: 0.6rem;
}

.reaction > div {
    color: hsl(0, 100%, 67%);
    display: flex;
    gap: 0.7rem;
    font-weight: 700;
    font-size: 1rem;
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.192);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    border-radius: 0.6rem;
}

.memory > div {
    color: hsl(39, 100%, 56%);
    display: flex;
    gap: 0.7rem;
    font-weight: 700;
    font-size: 1rem;
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.212);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    border-radius: 0.6rem;
}

.verbal > div {
    color: hsl(166, 100%, 37%);
    display: flex;
    gap: 0.7rem;
    font-weight: 700;
    font-size: 1rem;
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.199);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    border-radius: 0.6rem;
}

.visual > div {
    color: hsl(234, 85%, 45%);
    display: flex;
    gap: 0.7rem;
    font-weight: 700;
    font-size: 1rem;
}

@media screen and (min-width: 520px)